@model NorthwindSite.Models.ProductsPageViewModel
@{
    ViewData["Title"] = "Products";
    int count = Model.PaginationInfo.PageSize * (Model.PaginationInfo.PageNumber-1) + 1;
}

<h1>Products</h1>

<table class="table mt-1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ProductName</th>
            <th scope="col">SupplierName</th>
            <th scope="col">CategoryName</th>
            <th scope="col">QuantityPerUnit</th>
            <th scope="col">UnitPrice</th>
            <th scope="col">UnitsInStock</th>
            <th scope="col">UnitsOnOrder</th>
            <th scope="col">ReorderLevel</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cat in Model.Products)
        {
            <tr>
                <th scope="col">@(count++)</th>
                <th scope="col">@cat.ProductName</th>
                <th scope="col">@(cat.Supplier?.CompanyName)</th>
                <th scope="col">@(cat.Category?.CategoryName)</th>
                <th scope="col">@cat.QuantityPerUnit</th>
                <th scope="col">@cat.UnitPrice</th>
                <th scope="col">@cat.UnitsInStock</th>
                <th scope="col">@cat.UnitsOnOrder</th>
                <th scope="col">@cat.ReorderLevel</th>

            </tr>
        }
    </tbody>
</table>

@if (Model.PaginationInfo.HasPreviousPage)
{
    <a asp-controller="Home"
       asp-action="Products"
       asp-route-page="@(Model.PaginationInfo.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (Model.PaginationInfo.HasNextPage)
{
    <a asp-controller="Home"
       asp-action="Products"
       asp-route-page="@(Model.PaginationInfo.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
